.footer-over-section {
  background-color: #f2e1d9;
  padding: 65px 0 50px;
}
.footer-over-wrapper {
  display: grid;
  gap: 45px;
}
.over-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.over-card img {
  margin: 0 0 26px;
  width: 70px;
}
.over-card h5 {
  margin: 0 0 12px;
  font: 500 23px/1.7 "Poppins", sans-serif;
  color: #2B2B2B;
  text-transform: capitalize;
}
.over-card p {
  margin: 0 0 12px;
  font: 400 16px/1.4 "Poppins", sans-serif;
  color: #57667e;
  text-transform: capitalize;
}
@media (min-width: 576px) {
  .footer-over-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  /* .over-card img {
    width: 65px;
  } */
  .over-card h5 {
   font-size: 17px;
  }
  .over-card p {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .footer-over-section {
    padding: 100px 0 50px;
  }
  .over-card h5 {
    font-size: 20px;
   }
   .over-card p {
     font-size: 16px;
   }
}
@media (min-width: 992px) {
  .footer-over-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .over-card h5 {
    font-size: 17px;
   }
   .over-card p {
     font-size: 16px;
   }
}
