.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-right: 40px;
  background-color: #f2e1d9;
}
.head-inp-sec {
  display: none;
}
header nav {
  display: none;
}
.head-logo-sec {
  height: 100%;
}
.head-logo-sec img {
  height: 100%;
}
.head-menu-sec svg {
  width: 40px;
  height: 40px;
}
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  position: relative;
}
.head-breadcrumb {
  display: flex;
  align-items: center;
}
.head-breadcrumb > * {
  color: #fff;
}
.other-path h1 {
  font: 900 50px "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 14px;
  text-transform: capitalize;
}
.other-path span {
  text-transform: capitalize;
}
.hero-content {
  max-width: 570px;
  background-color: #fff;
  padding: 39px 24px 55px 44px;
  margin-left: -20px;
}
.hero-content span {
  font: 600 26px "Poppins", sans-serif;
  color: #7f85a8;
  margin-bottom: 8px;
}
.hero-content h1 {
  font: 800 35px/1.2 "Poppins", sans-serif;
  color: #1a1a1a;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.hero-content p {
  font: 400 18px/30px "Poppins", sans-serif;
  color: #646d77;
  margin-bottom: 25px;
}
.hero-content button {
  font: 500 16px "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 25px;
  background: #fd8f5f;
  text-transform: uppercase;
  padding: 12px 24px;
  border: none;
}
@media (min-width: 576px) {
  .hero::after {
    content: "";
    width: 40px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f2e1d9;
  }

  .hero-content span {
    font-size: 26px;
  }
  .hero-content h1 {
    font-size: 70px;
  }
  .hero-content button {
    padding: 14px 44px;
  }
  .crem-div{
    width: 89%;
    margin-left: 11%;
    height: 40px;
    background-color: #f2e1d9;
  }
}
@media (min-width: 650px) {
  .hero-content {
    margin-left: 0;
  }
  .hero {
    padding: 100px 0;
  }
}
@media (min-width: 1200px) {
  .head-menu-sec {
    display: none;
  }
  .head-inp-sec {
    display: flex;
  }
  header nav {
    display: block !important;
  }
  .head-logo-sec {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .head-logo-sec img {
    transform: scale(1.4);
    z-index: 99999;
    margin: 30px 0 0 20px;
  }
  .head-logo-sec nav a {
    font: 600 14px "Poppins", sans-serif;
    color: #1d2547;
    text-transform: capitalize !important;
    padding: 39px 15px;
    transition: 0.5s;
  }
  .head-logo-sec nav a:hover {
    color: #fd7e14;
  }
  .head-inp-sec {
    display: flex;
    align-items: center;
  }
  .head-inp-sec .inp-box {
    border-bottom: 1px solid #c2b6bb;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
  }
  .head-inp-sec .inp-box input {
    border: 0;
    background-color: transparent;
    padding: 5px 85px 5px 5px;
    font: 400 15px "Poppins", sans-serif;
    color: #010a44;
  }
  .head-inp-sec .inp-box input::placeholder {
    font: 400 15px "Poppins", sans-serif;
    color: #010a44;
  }
  .head-inp-sec .inp-box svg {
    font-size: 20px;
  }
  .head-account {
    font: 600 16px "Poppins", sans-serif;
    color: #010a44;
    margin: 0 45px;
  }
  .head-inp-sec .shopbag {
    font-size: 30px;
  }
  .crem-div{
    height: 100px;
  }
}
