.inspired {
  padding: 30px 15px;
}
.instra-image img {
  width: 100%;
}
.insta-icon {
  font-size: 70px;
  color: #fd8f5f;
  margin: 0 0 30px;
}
.inspired-content {
  margin: 0 0 40px;
}
.inspired-content h2 {
  font: 700 28px/1.2 "Poppins", sans-serif;
  text-transform: uppercase;
  color: #1a1a1a;
  margin: 0 0 20px;
}
.inspired-content p {
  font: 400 16px/1.6 "Poppins", sans-serif;
  color: #7f85a8;
  margin: 0 0 35px;
}
.instra-image {
  position: relative;
  overflow: hidden;
}
.instra-image .abs {
  position: absolute;
  /* inset: 0; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 7px;
  display: grid;
  place-items: center;
  transition: .5s;
}
.instra-image:hover .abs{
  background-color: hsla(232, 97%, 14%, 0.3);
}
.instra-image .abs svg{
  color: transparent;
  transition: .3s;

}
.instra-image:hover .abs svg {
  fill: #fff;
  font-size: 30px;
}
@media (min-width: 576px) {
  .inspired-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .inspired {
    display: flex;
    flex-direction: column;
  }
  .inspired-content {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .inspired {
    flex-direction: row;
    align-items: center;
    padding: 30px 15px 20px 45px;
  }
  .inspired-content {
    width: 30%;
    padding: 0 20px;
  }
  .inspired-image {
    width: 70%;
  }
}
